h1 {
    text-align: center;
}

form {
    text-align: center;
}

input[type=search] {
    width: 40%;
}

input[type=submit] {
    margin: 8px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
    float: left; 
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    color: black;
    font-size: 12px;
}

li a:hover {
  text-decoration: underline;
}

.navleft {
    position: absolute;
    top: 0;
    left: 0;
}

.navright {
    position: absolute;
    top: 0;
    right: 0;
}

.footleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footright {
    position: absolute;
    bottom: 0;
    right: 0;
}



